#loading {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}