.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

button:disabled {
  cursor: not-allowed;
}

table {
  text-align: left;
  .background {
    background-color: #f7f7f7;
  }
}

.footer {
  padding: 10px 0;
  .second {
    margin-left: 10px;
  }
}