<app-loading></app-loading>
<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Tamanho</ng-template>
      <mat-radio-group class="example-radio-group" formControlName="size" (change)="pizzaUpdate()" required>
        <mat-radio-button class="example-radio-button" *ngFor="let pSize of pizzaSizeOptions" [value]="pSize">
          {{pSize.label + ' - R$' + (pSize.price | number:'2.2-5')}} </mat-radio-button>
      </mat-radio-group>
      <div class="footer">
        <button mat-raised-button color="primary" matStepperNext
                [disabled]="firstFormGroup.controls.size.invalid">Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Sabor</ng-template>
      <mat-radio-group class="example-radio-group" formControlName="flavor" required>
        <mat-radio-button class="example-radio-button" *ngFor="let pFlavor of pizzaFlavorOptions"
                          (change)="flavorChange()" [value]="pFlavor"> {{pFlavor.label}} </mat-radio-button>
      </mat-radio-group>
      <div class="footer">
        <button mat-raised-button color="primary" matStepperPrevious>Anterior</button>
        <button class="second" mat-raised-button color="primary" matStepperNext
                [disabled]="secondFormGroup.controls.flavor.invalid">Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Adicionais</ng-template>
      <div *ngFor="let pAdditional of pizzaAdditionalOptions">
        <mat-checkbox [checked]="pAdditional.checked" [(ngModel)]="pAdditional.checked"
                      [ngModelOptions]="{standalone: true}" (change)="checkedBox(pAdditional, $event)">
          {{ pAdditional.label }} {{' - R$' + (pAdditional.price | number:'1.2-5')}}</mat-checkbox>
      </div>
      <div class="footer">
        <button mat-raised-button color="primary" matStepperPrevious>Anterior</button>
        <button class="second" mat-raised-button color="primary" matStepperNext
                [disabled]="thirdFormGroup.controls.additional.invalid">Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Resumo do Pedido</ng-template>
    <div>
      <mat-card>
        <table>
          <tr class="background">
            <th>Tamanho</th>
            <td>{{ firstFormGroup.controls.size.value?.label + ' - R$' + (firstFormGroup.controls.size.value?.price | number:'1.2-5') }}</td>
          </tr>
          <tr>
            <th>Sabor</th>
            <td>{{ secondFormGroup.controls.flavor.value?.label }}</td>
          </tr>
          <tr class="background">
            <th>Adicionais</th>
            <td>
              <ul *ngIf="thirdFormGroup.controls.additional?.value.length">
                <li *ngFor="let additional of thirdFormGroup.controls.additional?.value"> {{ additional.label + ' - R$' + (additional.price | number:'1.2-5') }}</li>
              </ul>
              <span *ngIf="!thirdFormGroup.controls.additional?.value.length">Sem adicionais selecionados</span>
            </td>
          </tr>
          <tr>
            <th>Valor Total</th>
            <td> {{ 'R$' + (value | number:'1.2-5') }} </td>
          </tr>
          <tr class="background">
            <th>Tempo de Preparo</th>
            <td> {{ preparationTime + ' minutos'}} </td>
          </tr>
        </table>
      </mat-card>
      <div class="footer">
        <button mat-raised-button color="primary" matStepperPrevious>Anterior</button>
        <button class="second" mat-raised-button color="primary" (click)="stepper.reset(); reset();">Reset</button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>