/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin:0px;
  padding:0px;
  font-family: 'Roboto';
  overflow: hidden;
}
